.site-header {

  img {
    margin: 0 0.5em 0.1em 0;
  }

  p {
    color: $color-white;
    font-size: 0.7em;
    margin: 0;
  }

  .usa {
    background: $color-gray-dark;
    padding: 0.1em 0;
    text-align: center;
  }
}
